* {
   box-sizing: border-box;
   margin:0;
   padding:0;  
}
   

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size:9px;
  line-height: 1;
  background: #CFE0EA;
  color:#053D57;
  padding: 30px;
  
  
}

body,
h1,
h2,
h3,
p {
  margin:0;
}


img {
  width:100%;
  
}


.container {
  margin: auto;
  width: min(90%, 70.5rem);
}

.text-center{
  text-align: center;
  align-items: center;

}

header, 
section {
  padding: 1rem 0;
  
}

header {
  background-color:#CFE0EA;
}


.banner-area img {
    width:300px;
  
}

.banner-area h2 {
  font-family: "Long Cang", cursive;
  font-size:40px;
  margin-bottom:5px;
  color:#053D57;
}

.banner-area h1 {
  font-family: "Long Cang", sans-serif;
  font-size:70px;
  color:#053D57;
  line-height: 1.5;
}
}

.footer hr {
  
  color:#053D57;
}



.kungfu-classes { 
  color: #FFF;
  padding:30px;
  background: #167D7F;
  
}

.kungfu-gallery {
  background-color:#FFF;
}

.kungfu-gallery h2,
.kungfu-gallery p {
  color: #053D57;
 
}

.passion-area {
  font-family: "Noto Sans KR", serif;
  font-size: 3rem;
    
}


.kungfu-classes img,
.kungfu-classes p { 
   padding:30px;
  
}

.passion-kungfu {
  color:#670305;
  
}

.kungfu-gallery h2,
.kungfu-classes h2,
.passion-kungfu h2,
.kungfu-sunrise h2 {
  font-family: "Long Cang", serif;
}

.kungfu-sunrise img {

      width:100%;
 
      border:2px solid #016367;
      box-shadow: 10px 10px 5px #B8390E;
      -moz-box-shadow: 10px 10px 5px #B8390E;
      -webkit-box-shadow: 10px 10px 5px #CFE0EA;
     
}


.footer-area img {
  width:15%;
}


